/condicionales/problema1/Problema1/nbproject/private/
/condicionales/problema2/Problema2/nbproject/private/
/condicionales/problema3/problema3/nbproject/private/
/condicionales/problema4/problema4/nbproject/private/
/manejo-entrada-salida/problema01/problema1/nbproject/private/
/manejo-entrada-salida/problema02/problema2/nbproject/private/
/manejo-entrada-salida/problema03/problema3/nbproject/private/
/manejo-entrada-salida/problema04/problema4/nbproject/private/
/manejo-entrada-salida/problema05/problema5/nbproject/private/
/condicionales/problema1/Problema1/build/
/condicionales/problema2/Problema2/build/
/condicionales/problema3/problema3/build/
/manejo-entrada-salida/problema04/problema4/build/
/problema04/problema4/build/
/problema04/problema4/nbproject/private/
/manejo-entrada-salida/problema4/problema4/nbproject/private/
/condicionales/problema04/problema4/build/
/condicionales/problema04/problema4/nbproject/private/
/condicionales/problema4/problema4/build/
